.button {
   text-transform: none;
}

#g-footer,
#g-header {
   height: 125px;
   padding: 0px;
   margin: 0px;
}

.g-logo-helium {
   height: 125px;
}

.g-main-nav {
   padding: 0px;
   margin: 0px;
}